apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-container
        image: nishabansal19/notification-service:20-0bdb6d3b151a3c3bcfebdce4ec0312451b4a6f1c
        ports:
        - containerPort: 80
          env:
            - name: USERNAME
              valueFrom:
                  secretKeyRef:
                    name: my-secret
                    key: username
            - name: PASSWORD
              valueFrom:
                  secretKeyRef:
                      name: my-secret
                      key: password
            - name: CONFIG_VALUE
              valueFrom:
                  configMapKeyRef:
                    name: my-config
                    key: value
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
      restartPolicy: Always
